/*Undo browser defaults
------------------------------------------------------------ */
:link, :visited { text-decoration: none; }
ul, ol { list-style: none; }
h1, h2, h3, h4, h5, h6, pre, code, p { font-size: 1em; }
ul, ol, dl, li, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input { margin: 0; padding: 0; }
a img, :link img, :visited img { border: none; }
address { font-style: normal; }

body {
	text-align:center; /*Oae au?aaieaaiey ii oaio?o*/
}
html { background: transparent url('../img/webx-bkg.png') repeat-x; 
margin: 0; 
padding: 0; 
}
#wrap {
	width:80%; /*Oae au?aaieaaiey ii oaio?o*/
	margin:0 auto; /*Oae au?aaieaaiey ii oaio?o*/
	text-align:left;
}
#header {
	text-align:left;
}
#footer {
	clear:both;
}
#main-body {
	float:left;
	width:75%;
}
#sidebar-2 {
	float:right;
	width:25%;
	overflow:hidden;
	margin-left:-3px;
}
#content {
	float:right;
	width:66.5%;
	overflow:hidden;
}
#sidebar {
	float:left;
	width:33.5%;
	overflow:hidden;
}
.inside {
	padding:10px;
}