<li><a {% if page.nav == 'index' %} class="selected"{% endif %} href="../testpage3/">Главная - Type3 Layout</a></li>
<li><a {% if page.nav == 'vizitka' %} class="selected"{% endif %}href="../vizitka/">Визитка - Type3 Layout</a></li>
<li><a {% if page.nav == 'friends' %} class="selected"{% endif %}href="../friends/">Друзья - Type3 Layout</a></li>
<li><a {% if page.nav == 'contacts' %} class="selected"{% endif %}href="../contacts/">Контакты - Type3 Layout</a></li>
<li><a {% if page.nav == 'zakaz' %} class="selected"{% endif %}href="../zakaz/">Заказ - Type3 Layout</a></li>  
