<!--
﻿<li><a {% if page.nav == 'vizitka' %} class="selected"{% endif %}href="../vizitka/">Моя Визитка</a></li>
<li><a {% if page.nav == 'friends' %} class="selected"{% endif %}href="../friends/">Мои Друзья</a></li>
<li><a {% if page.nav == 'contacts' %} class="selected"{% endif %}href="../contacts/">Мои Контакты</a></li>
<li><a {% if page.nav == 'Price' %} class="selected"{% endif %}href="../Price/">Прейскурант</a></li>  
<br><br> -->
<p></p>
<p>
&nbsp&nbsp<a href="../vizitka/">МОЯ ВИЗИТКА</a><br><br>
&nbsp&nbsp<a href="../friends/">МОИ ДРУЗЬЯ</a><br><br>
&nbsp&nbsp<a href="../contacts/">МОИ КОНТАКТЫ</a><br><br>
&nbsp&nbsp<a href="../Price/">ПРЕЙСКУРАНТ</a><br>  <br>
</p>