<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Праздничное Агенство "Братец Лис" - {{ page.title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../css/type2-layout.css" />
<link rel="stylesheet" type="text/css" href="../css/type2-presentation.css" />
<link rel="canonical" href="http://bratrtslis.ru{{ page.url }}"/>
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26787878-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
  <script type="text/javascript">var switchTo5x=true;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'659f2052-a7b0-4b5d-ab8d-f357bd58bcb0'});</script>
</head>
<body>
<div id="main">
<div id="nest" align="center">
<div align="center"> Logo place
</div>
</div>
<h3 align="center">{{ page.title }}</h3>
{{ content }}</br><span  class='st_livejournal_large' ></span><span  class='st_evernote_large' ></span><span  class='st_twitter_large' ></span><span  class='st_facebook_large' ></span><span  class='st_email_large' ></span>
</div>

</body>
</html>
